/* line 2, ../sass/search.scss */
.search-content .search-text {
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  background: url(http://r0.ihuipao.cn/race/wuxima/img/search-bk.png) center 485px no-repeat;
  background-color: #fff;
}
/* line 9, ../sass/search.scss */
.search-content .search-text .search-title {
  height: 70px;
  background-color: #881773;
  line-height: 40px;
  padding-left: 20px;
}
/* line 13, ../sass/search.scss */
.search-content .search-text .search-title img {
  display: inline-block;
}
/* line 16, ../sass/search.scss */
.search-content .search-text .search-title p {
  color: #fff;
  font-size: 24px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
}
/* line 21, ../sass/search.scss */
.search-content .search-text .search-form {
  margin-top: 50px;
}
/* line 23, ../sass/search.scss */
.search-content .search-text .search-form .search-group {
  font-size: 18px;
  margin: 20px;
}
/* line 28, ../sass/search.scss */
.search-content .search-text .search-form .search-group .search-lable {
  width: 40%;
  text-align: right;
  margin-right: 30px;
  letter-spacing: 5px;
}
/* line 34, ../sass/search.scss */
.search-content .search-text .search-form .search-group p {
  font-size: 14px;
  color: #EA5FAC;
  font-weight: 600;
  text-align: center;
}
/* line 39, ../sass/search.scss */
.search-content .search-text .search-form .search-group .search-input {
  width: 55%;
  font-size: 12px;
  height: 30px;
}
/* line 43, ../sass/search.scss */
.search-content .search-text .search-form .search-group .search-input input {
  height: 30px;
  padding-left: 5px;
}
/* line 47, ../sass/search.scss */
.search-content .search-text .search-form .search-group .search-input .se-radio {
  width: 27%;
  display: inline-block;
  position: relative;
}
/* line 49, ../sass/search.scss */
.search-content .search-text .search-form .search-group .search-input .se-radio span {
  display: inline-block;
  font-size: 14px;
  position: absolute;
  left: 20px;
  top: 8px;
}
/* line 51, ../sass/search.scss */
.search-content .search-text .search-form .search-group .search-input .se-sex {
  width: 15%;
}
/* line 55, ../sass/search.scss */
.search-content .search-text .search-form .search-group .search-p {
  max-width: 390px;
  margin: auto;
}
/* line 57, ../sass/search.scss */
.search-content .search-text .search-form .search-group .search-p p {
  text-align: left;
}
/* line 61, ../sass/search.scss */
.search-content .search-text .search-form .search-group .search-btn {
  max-width: 390px;
  margin: auto;
}
/* line 63, ../sass/search.scss */
.search-content .search-text .search-form .search-group .search-btn input {
  width: 100%;
  background-color: #881773;
  color: #fff;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
/* line 66, ../sass/search.scss */
.search-content .search-text .search-form .search-group .search-data input {
  width: 185px;
  background: url(http://r0.ihuipao.cn/race/wuxima/img/search-calendar.png) right center no-repeat;
}
/* line 72, ../sass/search.scss */
.search-content .search-text .search-form .search-group .search-num input {
  width: 270px;
}
/* line 79, ../sass/search.scss */
.search-content .search-text .search-body {
  max-width: 883px;
  margin: auto;
  padding-top: 100px;
}
/* line 80, ../sass/search.scss */
.search-content .search-text .search-body h3 {
  color: #DD007B;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}
/* line 82, ../sass/search.scss */
.search-content .search-text .search-body .search-d2 span {
  display: inline-block;
  border-bottom: 1px solid #DD007B;
}
/* line 85, ../sass/search.scss */
.search-content .search-text .search-body .search-d2 .search-icon {
  width: 11px;
  height: 7px;
  background: url(http://r0.ihuipao.cn/race/wuxima/img/search-icon.png) center no-repeat;
  border: none;
  margin-left: 5px;
}
/* line 93, ../sass/search.scss */
.search-content .search-text .search-body p {
  color: #000;
  line-height: 25px;
  margin: 0;
}
/* line 94, ../sass/search.scss */
.search-content .search-text .search-body .search-div {
  display: none;
  margin-bottom: 15px;
}
/* line 98, ../sass/search.scss */
.search-content .search-text .search-body .search-anwser {
  color: #333333;
  font-weight: bold;
}
/* line 102, ../sass/search.scss */
.search-content .search-text .search-body .search-d2:hover .search-icon {
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* line 108, ../sass/search.scss */
.search-content .search-text .search-body .search-d2:hover .search-div {
  display: block;
}
