/*=============banner============*/
/* line 4, ../sass/wuxi.scss */
.carousel {
  position: relative;
  width: 1240px;
  margin: auto;
}
/* line 9, ../sass/wuxi.scss */
.carousel .carousel-box {
  width: 97%;
  overflow: hidden;
  margin: 20px auto;
}
/* line 13, ../sass/wuxi.scss */
.carousel .carousel-box .item {
  width: 100%;
}
/* line 17, ../sass/wuxi.scss */
.carousel .carousel-box img {
  width: 100%;
}
/* line 22, ../sass/wuxi.scss */
.carousel .carousel-l-btn {
  left: -10px;
}
/* line 23, ../sass/wuxi.scss */
.carousel .carousel-r-btn {
  right: 0;
}
/* line 24, ../sass/wuxi.scss */
.carousel .carousel-btn {
  position: absolute;
  height: 100%;
  top: 5%;
  line-height: 380px;
  width: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  background-image: none;
}
/* line 38, ../sass/wuxi.scss */
.carousel .carousel-dot {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 30%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
/* line 47, ../sass/wuxi.scss */
.carousel .carousel-dot .carousel-dot-container {
  width: 106px;
  height: 25px;
  margin: 0 auto;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  line-height: 25px;
  text-align: center;
}
/* line 56, ../sass/wuxi.scss */
.carousel .carousel-dot span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  border-radius: 50%;
  background: #d6d6d6;
  cursor: pointer;
}
/* line 65, ../sass/wuxi.scss */
.carousel .carousel-dot .active {
  width: 28px;
  border-radius: 10px;
  background: #fff;
}

@media screen and (max-width: 414px) {
  /* line 73, ../sass/wuxi.scss */
  .carousel {
    width: 100%;
  }
  /* line 75, ../sass/wuxi.scss */
  .carousel .carousel-box {
    width: 100%;
    margin: 0;
  }
}
/*================warp==============*/
/* line 81, ../sass/wuxi.scss */
.warp {
  /*====section-content===========*/
  /*=======race-new==================*/
  /*==========sign-up===================*/
  /*==========squared==================*/
  /*============photos========================*/
  /*sponsor============================*/
}
/* line 84, ../sass/wuxi.scss */
.warp .section-content {
  margin-top: 20px;
}
/* line 86, ../sass/wuxi.scss */
.warp .section-content .section-left {
  width: 68%;
}
/* line 89, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .se-change {
  margin-bottom: 20px;
}
/* line 91, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .se-change li {
  width: 47%;
  height: 140px;
  display: inline-block;
  margin-right: 20px;
  border-radius: 10px;
}
/* line 96, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .se-change li a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  padding-top: 45px;
  padding-right: 30px;
  text-align: right;
}
/* line 99, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .se-change li:first-child {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/se-search.png) center no-repeat;
}
/* line 104, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .se-change li:last-child {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/se-race1.png) center no-repeat;
}
/* line 109, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .se-change li:hover {
  text-align: center;
}
/* line 111, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .se-change li:hover a {
  background-color: #881773;
  z-index: 1000;
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  padding: 50px;
  text-align: center;
}
/* line 123, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .announce-content {
  background-color: #fff;
  min-height: 415px;
  margin-right: 20px;
  border-radius: 10px;
}
/* line 128, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .announce-content .announce-top {
  height: 50px;
  line-height: 50px;
  margin: 0px 20px 20px 20px;
  border-bottom: 2px solid #A85598;
}
/* line 132, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .announce-content .announce-top h3 {
  margin-top: 10px;
  font-weight: 800;
}
/* line 133, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .announce-content .announce-top a {
  color: #A85598;
}
/* line 137, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .announce-content .announce-main {
  margin: 0 20px;
}
/* line 138, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .announce-content .announce-main li {
  height: 60px;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 144, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .announce-content .announce-main .data-left {
  border: 1px solid #881773;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  overflow: hidden;
  text-align: center;
  margin-right: 20px;
}
/* line 152, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .announce-content .announce-main .data-left span {
  display: block;
  height: 42px;
  width: 60px;
  background-color: #881773;
  line-height: 42px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
/* line 163, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .announce-content .announce-main .data-left a {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #90267C;
  display: block;
  width: 60px;
}
/* line 173, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .announce-content .announce-main .data-right {
  width: 640px;
}
/* line 175, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .announce-content .announce-main .data-right h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
/* line 176, ../sass/wuxi.scss */
.warp .section-content .section-left .se-content .announce-content .announce-main .data-right p {
  font-size: 12px;
  margin: 0;
  color: #B6B6B6;
}
/* line 185, ../sass/wuxi.scss */
.warp .section-content .section-right {
  width: 31%;
}
/* line 187, ../sass/wuxi.scss */
.warp .section-content .section-right .time-show {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
/* line 191, ../sass/wuxi.scss */
.warp .section-content .section-right .time-show img {
  width: 100%;
  display: block;
}
/* line 193, ../sass/wuxi.scss */
.warp .section-content .section-right .colok-time {
  position: relative;
  height: 165px;
  width: 100%;
  background: url(http://r0.ihuipao.cn/race/wuxima/img/clock.png) center no-repeat;
}
/* line 199, ../sass/wuxi.scss */
.warp .section-content .section-right .colok-time ul {
  position: absolute;
  top: 60px;
  left: 60px;
  height: 42px;
  width: 250px;
  margin-left: 20px;
}
/* line 202, ../sass/wuxi.scss */
.warp .section-content .section-right .colok-time li {
  display: inline-block;
  margin-right: 14px;
  color: #A1E0E0;
  font-size: 50px;
  line-height: 50px;
}
/* line 204, ../sass/wuxi.scss */
.warp .section-content .section-right .colok-time li span {
  display: block;
  font-size: 50px;
  color: #A1E0E0;
}
/* line 212, ../sass/wuxi.scss */
.warp .section-content .section-right .calendar img {
  width: 100%;
}
/* line 215, ../sass/wuxi.scss */
.warp .section-content .section-right .calendar .calendar-month {
  padding-top: 20px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}
/* line 216, ../sass/wuxi.scss */
.warp .section-content .section-right .calendar ul {
  margin-bottom: 0;
}
/* line 217, ../sass/wuxi.scss */
.warp .section-content .section-right .calendar li {
  display: inline-block;
  height: 36px;
  width: 48px;
  margin: 0 20px 15px 20px;
  line-height: 36px;
  text-align: center;
  position: relative;
}
/* line 221, ../sass/wuxi.scss */
.warp .section-content .section-right .calendar a {
  color: #881773;
  display: block;
  position: relative;
}
/* line 224, ../sass/wuxi.scss */
.warp .section-content .section-right .calendar a span {
  color: #DD007B;
  position: absolute;
  top: -25px;
  right: 0;
  font-size: 40px;
}
/* line 228, ../sass/wuxi.scss */
.warp .section-content .section-right .calendar .race-hidden {
  display: none;
}
/* line 231, ../sass/wuxi.scss */
.warp .section-content .section-right .calendar li:hover {
  border-radius: 10px;
  background-color: #881773;
}
/* line 233, ../sass/wuxi.scss */
.warp .section-content .section-right .calendar li:hover a {
  color: #fff;
}
/* line 235, ../sass/wuxi.scss */
.warp .section-content .section-right .calendar li:hover a span {
  display: none;
}
/* line 239, ../sass/wuxi.scss */
.warp .section-content .section-right .calendar li:hover .race-hidden {
  position: absolute;
  display: block;
  color: #fff;
  background-color: #881773;
  width: 210px;
  min-height: 35px;
  border-radius: 10px;
  line-height: 35px;
  z-index: 1000;
}
/* line 245, ../sass/wuxi.scss */
.warp .section-content .section-right .calendar li:hover .race-hidden p {
  font-size: 12px;
  margin: 0;
}
/* line 248, ../sass/wuxi.scss */
.warp .section-content .section-right .calendar li:hover .race-left {
  left: 50px;
  top: 0;
}
/* line 251, ../sass/wuxi.scss */
.warp .section-content .section-right .calendar li:hover .race-right {
  right: 50px;
  top: 0;
}
@media screen and (max-width: 414px) {
  /* line 259, ../sass/wuxi.scss */
  .warp .section-content {
    width: 100%;
  }
  /* line 261, ../sass/wuxi.scss */
  .warp .section-content .section-left {
    float: none;
    width: 100%;
  }
  /* line 264, ../sass/wuxi.scss */
  .warp .section-content .section-left .se-content .se-change li {
    width: 50%;
  }
  /* line 266, ../sass/wuxi.scss */
  .warp .section-content .section-left .se-content .announce-content {
    width: 100%;
  }
  /* line 269, ../sass/wuxi.scss */
  .warp .section-content .section-right {
    float: none;
    width: 100%;
  }
  /* line 271, ../sass/wuxi.scss */
  .warp .section-content .section-right .time-show {
    width: 100%;
  }
  /* line 273, ../sass/wuxi.scss */
  .warp .section-content .section-right .time-show img {
    width: 40%;
  }
  /* line 274, ../sass/wuxi.scss */
  .warp .section-content .section-right .time-show .colok-time {
    width: 50%;
    float: left;
  }
}
/* line 283, ../sass/wuxi.scss */
.warp .race-new {
  height: 350px;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 20px;
}
/* line 288, ../sass/wuxi.scss */
.warp .race-new .race-container {
  padding: 20px;
  position: relative;
}
/* line 289, ../sass/wuxi.scss */
.warp .race-new .new-left {
  margin-right: 20px;
}
/* line 292, ../sass/wuxi.scss */
.warp .race-new .new-left .new-a {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 145px;
  width: 265px;
}
/* line 295, ../sass/wuxi.scss */
.warp .race-new .new-left li:first-child {
  position: absolute;
  bottom: 38px;
  left: 0;
  height: 145px;
  width: 265px;
}
/* line 298, ../sass/wuxi.scss */
.warp .race-new .new-left li:nth-child(2) {
  position: absolute;
  top: 0;
  right: 40px;
  height: 145px;
  width: 265px;
}
/* line 301, ../sass/wuxi.scss */
.warp .race-new .new-left li:last-child {
  position: absolute;
  bottom: 40px;
  right: 40px;
  height: 145px;
  width: 265px;
}
/* line 307, ../sass/wuxi.scss */
.warp .race-new .new-left img {
  display: block;
  width: 100%;
  height: 100%;
  height: 145px;
  width: 265px;
  margin-bottom: 20px;
}
/* line 309, ../sass/wuxi.scss */
.warp .race-new .new-photo {
  position: relative;
  max-width: 265px;
  height: 145px;
}
/* line 311, ../sass/wuxi.scss */
.warp .race-new .new-photo .new-a {
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
/* line 314, ../sass/wuxi.scss */
.warp .race-new .new-photo .new-hidden {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  bottom: -20px;
  border-radius: 0 0 10px 10px;
  width: 100%;
  height: 33px;
  line-height: 33px;
  left: 20px;
}
/* line 318, ../sass/wuxi.scss */
.warp .race-new .new-photo .new-hidden a {
  display: block;
  padding-left: 5px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;
}
/* line 330, ../sass/wuxi.scss */
.warp .race-new .new-middle {
  width: 578px;
  position: relative;
  margin-right: 20px;
  height: 310px;
  margin-left: 265px;
}
/* line 335, ../sass/wuxi.scss */
.warp .race-new .new-middle img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* line 336, ../sass/wuxi.scss */
.warp .race-new .new-middle .new-fixed {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 145px;
  border-radius: 0 0 10px 10px;
}
/* line 341, ../sass/wuxi.scss */
.warp .race-new .new-middle .new-fixed a {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: block;
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  padding-left: 20px;
  font-weight: 600;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 351, ../sass/wuxi.scss */
.warp .race-new .new-middle .new-fixed p {
  color: #fff;
  display: block;
  padding-left: 20px;
  font-size: 12px;
  padding-top: 10px;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
/* line 360, ../sass/wuxi.scss */
.warp .race-new .new-middle:hover .new-fixed {
  top: 53%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 10px 10px;
}
/* line 364, ../sass/wuxi.scss */
.warp .race-new .new-middle:hover .new-fixed a {
  border-radius: 0;
}
/* line 365, ../sass/wuxi.scss */
.warp .race-new .new-middle:hover .new-fixed p {
  display: block;
}
/* line 386, ../sass/wuxi.scss */
.warp .sign-up {
  min-height: 310px;
  margin: 20px 0;
}
/* line 389, ../sass/wuxi.scss */
.warp .sign-up .sign-left {
  border-radius: 15px;
  max-width: 800px;
  margin-right: 20px;
}
/* line 393, ../sass/wuxi.scss */
.warp .sign-up .sign-left .sign-bk {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/sign-bk.png) center no-repeat;
  height: 240px;
}
/* line 396, ../sass/wuxi.scss */
.warp .sign-up .sign-left .sign-bk .sign-container {
  width: 70%;
  margin: auto;
  min-height: 120px;
  padding-top: 10%;
}
/* line 404, ../sass/wuxi.scss */
.warp .sign-up .sign-left .sign-input {
  width: 100%;
  margin-bottom: 20px;
}
/* line 408, ../sass/wuxi.scss */
.warp .sign-up .sign-left .sign-input .input-button {
  height: 40px;
  width: 100px;
  border-radius: 5px 0 0 5px;
}
/* line 411, ../sass/wuxi.scss */
.warp .sign-up .sign-left .sign-input .input-button {
  background-color: #fff;
  color: #000;
}
/* line 415, ../sass/wuxi.scss */
.warp .sign-up .sign-left .sign-input .input-menu {
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 0;
}
/* line 419, ../sass/wuxi.scss */
.warp .sign-up .sign-left .sign-input .input-menu a {
  color: #A1A1A1;
  padding: 5px 20px;
}
/* line 421, ../sass/wuxi.scss */
.warp .sign-up .sign-left .sign-input .input-menu li:hover a {
  background-color: #eee;
}
/* line 424, ../sass/wuxi.scss */
.warp .sign-up .sign-left .sign-input .form-control {
  border-radius: 0 5px 5px 0px;
  height: 40px;
}
/* line 428, ../sass/wuxi.scss */
.warp .sign-up .sign-left .sign-button {
  width: 100%;
  color: #fff;
  background-color: #881773;
  border: none;
  font-size: 20px;
  line-height: 40px;
  border-radius: 5px;
  margin: auto;
}
/* line 439, ../sass/wuxi.scss */
.warp .sign-up .sign-right {
  border-radius: 15px;
  background-color: #fff;
  padding: 15px 15px 0px 15px;
  max-width: 370px;
  min-height: 310px;
}
/* line 445, ../sass/wuxi.scss */
.warp .sign-up .sign-right li {
  display: inline-block;
  width: 125px;
  height: 95px;
  margin: 20px;
  position: relative;
  text-align: center;
}
/* line 448, ../sass/wuxi.scss */
.warp .sign-up .sign-right li a {
  color: #881773;
  position: absolute;
  top: 70%;
  display: block;
  font-size: 16px;
  left: 25%;
}
/* line 454, ../sass/wuxi.scss */
.warp .sign-up .sign-right .sign-li1 {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/map.png) 40px 15px no-repeat;
}
/* line 458, ../sass/wuxi.scss */
.warp .sign-up .sign-right .sign-li1:hover {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/map-1.png) 32px 15px no-repeat;
  background-color: #881773;
}
/* line 462, ../sass/wuxi.scss */
.warp .sign-up .sign-right .sign-li2 {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/goods.png) 40px 15px no-repeat;
}
/* line 465, ../sass/wuxi.scss */
.warp .sign-up .sign-right .sign-li2:hover {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/goods-1.png) 42px 15px no-repeat;
  background-color: #881773;
}
/* line 469, ../sass/wuxi.scss */
.warp .sign-up .sign-right .sign-li3 {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/answer.png) 40px 15px no-repeat;
}
/* line 472, ../sass/wuxi.scss */
.warp .sign-up .sign-right .sign-li3:hover {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/answer-1.png) 35px 15px no-repeat;
  background-color: #881773;
}
/* line 476, ../sass/wuxi.scss */
.warp .sign-up .sign-right .sign-li4 {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/download.png) 40px 15px no-repeat;
}
/* line 479, ../sass/wuxi.scss */
.warp .sign-up .sign-right .sign-li4:hover {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/download-1.png) 40px 15px no-repeat;
  background-color: #881773;
}
/* line 483, ../sass/wuxi.scss */
.warp .sign-up .sign-right li:hover {
  border-radius: 5px;
}
/* line 485, ../sass/wuxi.scss */
.warp .sign-up .sign-right li:hover a {
  color: #fff;
}
/* line 493, ../sass/wuxi.scss */
.warp .squared {
  padding: 20px;
  background: #fff;
  border-radius: 15px;
}
/* line 495, ../sass/wuxi.scss */
.warp .squared li {
  display: inline-block;
  width: 32%;
  height: 160px;
}
/* line 498, ../sass/wuxi.scss */
.warp .squared li a {
  position: relative;
  color: #fff;
  font-size: 24px;
  text-align: center;
  z-index: 999;
  display: block;
  width: 100%;
  height: 160px;
}
/* line 502, ../sass/wuxi.scss */
.warp .squared li a p {
  padding-top: 17%;
  font-weight: 600;
}
/* line 503, ../sass/wuxi.scss */
.warp .squared li a span {
  display: none;
}
/* line 505, ../sass/wuxi.scss */
.warp .squared li .squared-hidden {
  position: absolute;
  width: 100%;
  display: none;
  border-radius: 10px;
  top: 0;
  height: 160px;
  background: rgba(0, 0, 0, 0.4);
}
/* line 511, ../sass/wuxi.scss */
.warp .squared .squared-li1 {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/Volunteer.png) center no-repeat;
  margin: 0 15px 20px 0;
}
/* line 516, ../sass/wuxi.scss */
.warp .squared .squared-li2 {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/speed-man.png) center no-repeat;
  margin: 0 15px 20px 0;
}
/* line 520, ../sass/wuxi.scss */
.warp .squared .squared-li3 {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/hotel.png) center no-repeat;
  margin: 0 0 20px 0;
}
/* line 524, ../sass/wuxi.scss */
.warp .squared .squared-li4 {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/mall.png) center no-repeat;
  margin: 0 15px 0 0;
}
/* line 528, ../sass/wuxi.scss */
.warp .squared .squared-li5 {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/welfare.png) center no-repeat;
  margin: 0 15px 0 0;
}
/* line 532, ../sass/wuxi.scss */
.warp .squared .squared-li6 {
  background: url(http://r0.ihuipao.cn/race/wuxima/img/metting.png) center no-repeat;
}
/* line 536, ../sass/wuxi.scss */
.warp .squared li:hover .squared-hidden {
  display: block;
  z-index: 1002;
}
/* line 537, ../sass/wuxi.scss */
.warp .squared li:hover span {
  display: inline-block;
  margin-left: 10px;
}
/* line 543, ../sass/wuxi.scss */
.warp .photos {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}
/* line 548, ../sass/wuxi.scss */
.warp .photos .photo-nav {
  height: 70px;
  background-color: #881773;
  width: 100%;
  line-height: 70px;
  padding-left: 20px;
}
/* line 556, ../sass/wuxi.scss */
.warp .photos .photo-nav img {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
}
/* line 557, ../sass/wuxi.scss */
.warp .photos .photo-nav p {
  color: #fff;
  font-size: 28px;
  display: inline-block;
}
/* line 559, ../sass/wuxi.scss */
.warp .photos ul {
  margin: 20px;
}
/* line 562, ../sass/wuxi.scss */
.warp .photos li {
  display: inline-block;
  margin-right: 14px;
  height: 220px;
  width: 32%;
}
/* line 564, ../sass/wuxi.scss */
.warp .photos li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 566, ../sass/wuxi.scss */
.warp .photos li .img-fix {
  position: absolute;
  z-index: 1003;
  border-radius: 10px;
}
/* line 569, ../sass/wuxi.scss */
.warp .photos li .photos-fix {
  position: absolute;
  z-index: 1005;
  top: 30%;
  left: 35%;
  width: 30%;
  text-align: center;
}
/* line 574, ../sass/wuxi.scss */
.warp .photos li .photos-fix p {
  display: block;
  color: #fff;
  font-size: 26px;
  margin-bottom: 8px;
}
/* line 578, ../sass/wuxi.scss */
.warp .photos li .photos-hidden {
  position: absolute;
  display: none;
  width: 100%;
  height: 220px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  top: 0;
}
/* line 582, ../sass/wuxi.scss */
.warp .photos li:last-child {
  margin-right: 0;
}
/* line 586, ../sass/wuxi.scss */
.warp .photos a:hover .photos-hidden {
  display: block;
  z-index: 1004;
}
/* line 591, ../sass/wuxi.scss */
.warp .sponsor {
  height: 130px;
  width: 100%;
  border-radius: 15px;
  margin: 20px 0;
  background-color: #fff;
  overflow: hidden;
}
/* line 596, ../sass/wuxi.scss */
.warp .sponsor .sponsor-title {
  width: 15%;
  height: 100%;
  background-color: #881773;
  min-height: 130px;
  color: #fff;
  text-align: center;
}
/* line 600, ../sass/wuxi.scss */
.warp .sponsor .sponsor-title p {
  display: block;
  font-size: 24px;
  padding-top: 14%;
  font-weight: 600;
}
/* line 601, ../sass/wuxi.scss */
.warp .sponsor .sponsor-title .sponsor-p {
  padding-top: 25%;
}
/* line 603, ../sass/wuxi.scss */
.warp .sponsor .sponsor-photo {
  text-align: center;
  width: 85%;
  height: 100%;
  padding-top: 15px;
}
/* line 608, ../sass/wuxi.scss */
.warp .sponsor .sponsor-photo li {
  display: inline-block;
  margin-right: 50px;
}

/*===video-btn==================*/
/* line 613, ../sass/wuxi.scss */
.video-btn {
  position: fixed;
  width: 840px;
  height: 500px;
  /*      background:#fff;*/
  margin: auto;
  top: 35%;
  left: 42%;
  margin-top: -150px;
  margin-left: -300px;
  display: none;
  z-index: 1051;
}

/* line 626, ../sass/wuxi.scss */
.video-area {
  float: left;
  width: 800px;
  height: 300px;
  /*      background:red;*/
}

/* line 633, ../sass/wuxi.scss */
.video-shut {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 26px;
  color: #ccc;
  float: right;
  text-align: center;
  line-height: 40px;
  /*      background: yellow;*/
  display: block;
  /*      padding-top:30px;*/
}

/* line 649, ../sass/wuxi.scss */
#shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 1050;
  display: none;
}
